<header class="header">
  <div class="container header__container">
      <a href="./#hero" class="logo">
          Obliq<span class="logo__accent">-Zune</span>
      </a>

      <nav class="nav" id="nav">
          <ul class="nav__list">
              <li class="nav__item"><a href="./#hero" class="nav__link active">Главная</a></li>
              <li class="nav__item"><a href="./#strategy" class="nav__link">Стратегия</a></li>
              <li class="nav__item"><a href="./#mentoring" class="nav__link">Менторинг</a></li>
              <li class="nav__item"><a href="./#tools" class="nav__link">Инструменты</a></li>
              <li class="nav__item"><a href="./#innovations" class="nav__link">Инновации</a></li>
              <li class="nav__item"><a href="./#blog" class="nav__link">Блог</a></li>
          </ul>
          <a href="#contact" class="btn btn--header-mobile">Начать сейчас</a>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="btn btn--primary">Начать сейчас</a>
          <button class="burger" aria-label="Открыть меню">
              <span class="burger__line"></span>
              <span class="burger__line"></span>
          </button>
      </div>
  </div>
</header>